
<div *ngIf="empleado">
    <h2><span>Empleado</span> {{empleado.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Idempleado</span></dt>
        <dd>
            <span>{{empleado.idempleado}}</span>
        </dd>
        <dt><span>Nombre</span></dt>
        <dd>
            <span>{{empleado.nombre}}</span>
        </dd>
        <dt><span>Apellido</span></dt>
        <dd>
            <span>{{empleado.apellido}}</span>
        </dd>
        <dt><span>Nacimiento</span></dt>
        <dd>
            <span>{{empleado.nacimiento}}</span>
        </dd>
        <dt><span>Documento</span></dt>
        <dd>
            <span>{{empleado.documento}}</span>
        </dd>
        <dt><span>Foto</span></dt>
        <dd>
            <span>{{empleado.foto}}</span>
        </dd>
        <dt><span>Direccion</span></dt>
        <dd>
            <span>{{empleado.direccion}}</span>
        </dd>
        <dt><span>Telefono</span></dt>
        <dd>
            <span>{{empleado.telefono}}</span>
        </dd>
        <dt><span>Usuario</span></dt>
        <dd>
            <div *ngIf="empleado.usuario">
                <a [routerLink]="['/usuario', empleado.usuario?.id]">{{empleado.usuario?.id}}</a>
            </div>
        </dd>
        <dt><span>Area</span></dt>
        <dd>
            <div *ngIf="empleado.area">
                <a [routerLink]="['/area', empleado.area?.id]">{{empleado.area?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'empleado/'+ empleado.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
