
<div *ngIf="usuario">
    <h2><span>Usuario</span> {{usuario.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Idusuario</span></dt>
        <dd>
            <span>{{usuario.idusuario}}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
            <span>{{usuario.username}}</span>
        </dd>
        <dt><span>Password</span></dt>
        <dd>
            <span>{{usuario.password}}</span>
        </dd>
        <dt><span>Rol</span></dt>
        <dd>
            <span *ngFor="let rol of usuario.rols; let last = last">
                <a [routerLink]="['/rol', rol?.id ]">{{rol.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'usuario/'+ usuario.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
